@import 'tailwindcss';

@plugin "@iconify/tailwind4" {
	icon-sets: from-json(test, './icon-sets/test.json'),
		from-folder(test2, './icon-sets/svgs');
}

@plugin "@iconify/tailwind4" {
	prefix: 'square-icon';
	square: true;
	icon-sets: from-folder(test3, './icon-sets/svgs');
}

@plugin "@iconify/tailwind4" {
	prefix: 'icon-override';
	override-only: true;
	prefixes: mdi-light;
}

.demo {
	color: var(--color-blue-600);
}
.demo:hover {
	color: var(--color-red-600);
}
