@import 'tailwindcss';

@plugin "@iconify/tailwind4" {
	icon-sets: icon-set(test, './icon-sets/test.json'),
		icon-set(test2, './icon-sets/test.json');
}

@plugin "@iconify/tailwind4" {
	prefix: 'icon-override';
	override-only: true;
	prefixes: mdi-light;
}

.demo {
	color: var(--color-blue-600);
}
.demo:hover {
	color: var(--color-red-600);
}
